<app-header></app-header>
<div class="container mt-5"><!--Iniciamos el contenedor de escritorios-->
  <div class="row"><!-- Iniciamos la fila de proyectos del escritorio-->
    <div class="card m-2 mt-5" style="width: 15rem" *ngFor="let desktop of desktops"><!--Iniciamos el div del proyecto-->
      <img src="../../../assets/imagenes/sistema/projects_icon.svg" class="card-img-top" alt="Project" />
      <div class="card-body">
        <h5 class="card-title text-center fw-bold" (mouseover)="DoMouseOver(desktop)">{{desktop.getTitle()}}</h5>
        <p class="card-text text-sm-start text-break">{{desktop.getDescription()}}</p>
        <div class="text-center">
          <a href="#" class="btn btn-primary">Open</a>
        </div>
      </div>
    </div><!--Finalizamos el div del proyecto-->
  </div><!--Finalizamos la fila deproyectos del escritorio-->
</div><!--Finalizamos el contenedor del escritorio-->
<app-back></app-back>