<div class="container mt-5">
  <!--Iniciamos el contenedor de options-->
  <div class="row">
    <!-- Iniciamos la fila de las options-->
    <div class="card m-2 mt-5" style="width: 15rem">
      <!--Iniciamos el div del users-->
      <img
        src="../../../assets/imagenes/sistema/user_icon.svg"
        class="card-img-top" style="width: 100px; margin: 0 auto;"
        alt="Users"
      />
      <div class="card-body position-relative bottom-0 start-30">
        <h5 class="card-title text-center fw-bold">Usuarios</h5>
        <p class="card-text text-sm-start text-break">
          Haz clic aquí para acceder a los usuarios
        </p>
        <div class="text-center">
          <a href="/users" class="btn btn-primary">Entrar</a>
        </div>
      </div>
    </div>
    <!--Finalizamos el div del users-->
    <div class="card m-2 mt-5" style="width: 15rem">
      <!--Iniciamos el div del desktop-->
      <img
        src="../../../assets/imagenes/sistema/desktops_icon.svg"
        class="card-img-top" style="width: 100px; margin: 0 auto;"
        alt="Desktops"
      />
      <div class="card-body position-absolute bottom-0 start-30">
        <h5 class="card-title text-center fw-bold">Escritorios</h5>
        <p class="card-text text-sm-start text-break">
          Haz clic aquí para acceder a los escritorios
        </p>
        <div class="text-center">
          <a href="/desktops" class="btn btn-primary">Entrar</a>
        </div>
      </div>
    </div>
    <div class="card m-2 mt-5" style="width: 15rem">
        <!--Iniciamos el div del projects-->
        <img
          src="../../../assets/imagenes/sistema/projects_icon.svg"
          class="card-img-top" style="width: 100px; margin: 0 auto;"
          alt="Projects"
        />
        <div class="card-body position-absolute bottom-0 start-30">
          <h5 class="card-title text-center fw-bold">Proyectos</h5>
          <p class="card-text text-sm-start text-break">
            Haz clic aquí para acceder a los proyectos
          </p>
          <div class="text-center">
            <a href="/projects" class="btn btn-primary">Entrar</a>
          </div>
        </div>
      </div>
    <!--Finalizamos el div del projects-->
  </div>
  <!--Finalizamos la fila de las options-->
</div>
<!--Finalizamos el contenedor de las options-->
