<app-header></app-header>
<div class="container mt-5"><!--Iniciamos el contenedor de la tarea-->
  <div class="row"><!-- Iniciamos la fila de tareas del proyecto-->
    <div class="card mt-5" style="width: 18rem"><!--Iniciamos el div de la tarea-->
      <img src="../../../assets/imagenes/sistema/task_icon.svg" class="card-img-top" alt="Project" />
      <div class="card-body">
        <h5 class="card-title text-center">PROJECT TITLE</h5>
        <p class="card-text">Description of Project</p>
        <div class="text-center">
          <a href="#" class="btn btn-primary">Open Project</a>
        </div>
      </div>
    </div><!--Finalizamos el div de la tarea-->
  </div><!--Finalizamos la fila de tareas del proyecto-->
</div><!--Finalizamos el contenedor del tarea-->
<app-back></app-back>