<app-header></app-header>
<div class="position-relative container-fluid">
  <div class="row mt-3 justify-content-around">
      <div class="card m-2" style="width: 18rem;">
          <img src="/app/assets/sistema/background.jpg" class="card-img-top mt-1" alt="Fondo">
          <div class="card-body">
              <h5 class="card-title">Tarea de ejemplo</h5>
              <p class="card-text">Esto es una tarea de ejemplo y esta es su descripción.</p>
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
          </div>
      </div>
      <div class="card m-2" style="width: 18rem;">
          <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="/app/assets/sistema/background.jpg" class="card-img-top" alt="Fondo">
                  </div>
                  <div class="carousel-item">
                      <img src="/app/assets/sistema/background.jpg" class="card-img-top" alt="Fondo">
                  </div>
                  <div class="carousel-item">
                      <img src="/app/assets/sistema/background.jpg" class="card-img-top" alt="Fondo">
                  </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>
          <div class="card-body">
              <h5 class="card-title text-center">Tarjeta con Slider</h5>
              <p class="card-text text-justify">Esto es una tarjeta con varias imagenes en slider.</p>
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body text-center">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
          </div>
      </div>
  </div>
</div>
<app-back></app-back>
